
/* CUSTOM PROPS */
:root{
  --body-bg: #f1f4ff;
  --green: #4DC490;
  --purple: #655AF2;
  --red: #F03535;
  --text-color: #000;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;

  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}
*:focus{
  outline: 2px dotted var(--purple);
  outline-offset: 3px;
}
.container {
  width: 100%;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}

.main-content{
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}


.intro-page {
  display: flex;
}
.hero {
  --text-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
}
.hero-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px 60px;
  background-color: #555;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hero-badge {
  border: 1px solid var(--text-color);
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 41px;
  margin-bottom: 60px;
}
.hero-heading {
  margin-top: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 25px;
}
.hero-text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.hero-bottom {
  background-color: var(--green);
  padding: 29px 145px;
  text-align: center;
  font-size: 19px;
  line-height: auto;
}
.signup-form {
  width: 100%;
  max-width: 570px;
  margin-left: 12px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  padding: 55px 60px 40px;
}
.signup-form-heading {
  margin-top: 0;
  margin-bottom: 65px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}
.signup-form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
.signup-form-field {
  padding-top: 15px;
  padding-bottom: 14px;
  color: #555;
  border: 0;
  border-bottom: 1px solid #555;
}
.signup-form-field:focus{
  border-bottom: #000;
  color: #000;
  font-weight: 600;
}
.signup-form-field:not(:last-child){
  margin-bottom: 20px;
}
.signup-form-submit {
  width: 100%;
  display: block;
  border: 0;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--purple);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 8px;
}
.signup-form-notice {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.signup-form-notice-link {
  color: var(--red);
  font-weight: 500;
}